<?xml version="1.0" encoding="UTF-8"?>
<robot name="robot_mk2" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find rovermk2_description)/urdf/rovermk2.urdf" />
    <xacro:include filename="$(find rovermk2_description)/urdf/B2_mark_sensors.urdf" />

    <ros2_control name="rovermk2" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <!-- Drive Joints -->
        <joint name="wheelFL_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        <joint name="wheelFR_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        <joint name="wheelBL_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>
        <joint name="wheelBR_joint">
            <command_interface name="velocity" />
            <state_interface name="velocity" />
            <state_interface name="position" />
        </joint>

        <!-- Steer Joints -->
        <joint name="steerFL_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="steerFR_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="steerBL_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
        <joint name="steerBR_joint">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

    <!-- Ignition ros2_control plugin -->
    <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find rovermk2_description)/config/controller.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin
            filename="ignition-gazebo-odometry-publisher-system"
            name="ignition::gazebo::systems::OdometryPublisher">
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <odom_topic>/odom_raw</odom_topic>
            <tf_topic>/model/robot_mk2/tf</tf_topic>
            <update_rate>50</update_rate>
        </plugin>
    </gazebo>

</robot>